parameters:
    netteRepository:
        ignoreTables:
            migrations: true
            migration_log: true
            phoenix_log: true
            phinxlog: true
            # efabrica-specific, will be moved:
            versions: true

services:
    repoCodeGen: Efabrica\NetteRepository\CodeGen\RepositoryCodeGenerationCommand(%appDir%, %netteRepository%)
    - Efabrica\NetteRepository\CodeGen\EntityStructureFactory
    repoDeps: Efabrica\NetteRepository\Repository\RepositoryDependencies
    repoManager: Efabrica\NetteRepository\Repository\RepositoryManager
    scopeContainer: Efabrica\NetteRepository\Repository\Scope\ScopeContainer()

    castEventSubscriber: Efabrica\NetteRepository\Traits\Cast\CastEventSubscriber
    dateEventSubscriber: Efabrica\NetteRepository\Traits\Date\DateEventSubscriber
    defaultValueEventSubscriber: Efabrica\NetteRepository\Traits\DefaultValue\DefaultValueEventSubscriber
    defaultOrderEventSubscriber: Efabrica\NetteRepository\Traits\DefaultOrder\DefaultOrderEventSubscriber
    filterEventSubscriber: Efabrica\NetteRepository\Traits\Filter\FilterEventSubscriber
    keepDefaultEventSubscriber: Efabrica\NetteRepository\Traits\KeepDefault\KeepDefaultEventSubscriber
    lastManStandingEventSubscriber: Efabrica\NetteRepository\Traits\LastManStanding\LastManStandingEventSubscriber
    softDeleteEventSubscriber: Efabrica\NetteRepository\Traits\SoftDelete\SoftDeleteEventSubscriber
    repoEventSubscriber: Efabrica\NetteRepository\Subscriber\RepositoryEventSubscriber
    sortingEventSubscriber: Efabrica\NetteRepository\Traits\Sorting\SortingEventSubscriber

    # efabrica-specific, will be moved:
    userOwnedEventSubscriber: Efabrica\NetteRepository\Traits\Account\AccountEventSubscriber
    aesEventSubscriber: Efabrica\NetteRepository\Traits\AES\AESEventSubscriber
    ownerEventSubscriber: Efabrica\NetteRepository\Traits\Owner\OwnerEventSubscriber
    treeTraverseEventSubscriber: Efabrica\NetteRepository\Traits\TreeTraverse\TreeTraverseEventSubscriber
    versionEventSubscriber: Efabrica\NetteRepository\Traits\Version\VersionEventSubscriber
    versionRepository: Efabrica\NetteRepository\Traits\Version\VersionRepository
