parameters:
    netteRepository:
        ignoreTables:
            migrations: true
            migration_log: true
            phoenix_log: true
            versions: true

services:
    repoCodeGen: Efabrica\NetteRepository\CodeGen\RepositoryCodeGenerationCommand(%appDir%, %netteRepository%)
    - Efabrica\NetteRepository\CodeGen\EntityStructureFactory
    repoDeps: Efabrica\NetteRepository\Repository\RepositoryDependencies
    repoManager: Efabrica\NetteRepository\Repository\RepositoryManager
    scopeContainer: Efabrica\NetteRepository\Repository\Scope\ScopeContainer()

    accountEventSubscriber: Efabrica\NetteRepository\Traits\Account\AccountEventSubscriber
    aesEventSubscriber: Efabrica\NetteRepository\Traits\AES\AESEventSubscriber
    castEventSubscriber: Efabrica\NetteRepository\Traits\Cast\CastEventSubscriber
    dateEventSubscriber: Efabrica\NetteRepository\Traits\Date\DateEventSubscriber
    defaultValueEventSubscriber: Efabrica\NetteRepository\Traits\DefaultValue\DefaultValueEventSubscriber
    defaultWhereEventSubscriber: Efabrica\NetteRepository\Traits\Filter\FilterEventSubscriber
    keepDefaultEventSubscriber: Efabrica\NetteRepository\Traits\KeepDefault\KeepDefaultEventSubscriber
    lastManStandingEventSubscriber: Efabrica\NetteRepository\Traits\LastManStanding\LastManStandingEventSubscriber
    ownerEventSubscriber: Efabrica\NetteRepository\Traits\Owner\OwnerEventSubscriber
    softDeleteEventSubscriber: Efabrica\NetteRepository\Traits\SoftDelete\SoftDeleteEventSubscriber
    treeTraverseEventSubscriber: Efabrica\NetteRepository\Traits\TreeTraverse\TreeTraverseEventSubscriber
    repoEventSubscriber: Efabrica\NetteRepository\Subscriber\RepositoryEventSubscriber

    versionEventSubscriber: Efabrica\NetteRepository\Traits\Version\VersionEventSubscriber
    versionRepository: Efabrica\NetteRepository\Traits\Version\VersionRepository
