extensions:
    repositories: Efabrica\NetteDatabaseRepository\Bridge\DI\NetteDatabaseRepositoryExtension

database:
    dsn: "sqlite::memory:"

services:
    # Repositories
    groupRepository:
        create: Examples\Repositories\GroupRepository

    userRepository:
        create: Examples\Repositories\UserRepository

    articleRepository:
        create: Examples\Repositories\ArticleRepository

    # Managers
    repositories.repositoryManager:
        create: Efabrica\NetteDatabaseRepository\Repositores\Managers\RepositoryManager
        setup:
            - addRepository('groups', @groupRepository)
            - addRepository('users', @userRepository)
            - addRepository('articles', @articleRepository)

    repositories.selectionFactoryManager:
        create: Efabrica\NetteDatabaseRepository\Models\Factories\SelectionFactoryManager
        setup:
            - addClass(Examples\Repositories\GroupRepository, Examples\Selections\GroupSelection)
            - addClass(Examples\Repositories\UserRepository, Examples\Selections\UserSelection)
            - addClass(Examples\Repositories\ArticleRepository, Examples\Selections\ArticleSelection)

    repositories.modelFactoryManager:
        create: Efabrica\NetteDatabaseRepository\Models\Managers\ModelFactoryManager
        setup:
            - addClass('groups', Examples\Models\Group)
            - addClass('users', Examples\Models\User)
            - addClass('articles', Examples\Models\Article)
